@keyframes pulse {
    0% {
        box-shadow: #0795c0 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 50px;
    }
}

h1.changeColor {
  animation: typing 3.5s steps(30, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    width: 22ch;
    border-right: 3px solid;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }



    @keyframes walkanim {
        to { background-position: 100% 0; }
      }
      @keyframes stroll {
        from { transform: translateX(-100%); }
        to { transform: translateX(500%); }
      }
      #walk-container {
        width: 15%;
        padding-bottom: 30%; 
        vertical-align: middle; 
        overflow: hidden; 
        animation: stroll 15s linear infinite;
      }
      #walk {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/walk-sequence.svg);
        background-repeat: no-repeat;
        background-size: 800%;
        animation: walkanim 1s infinite steps(7);
      }